// FUNCTIONAL COLORS
$color-functional-success: #0cc443;

// BRAND COLORS
$color-brand-primary-300: #0094ff;

$color-brand-gray-050: #f0f3fa;
$color-brand-gray-100: #c5ccde;
$color-brand-gray-200: #b1b9cc;
$color-brand-gray-300: #7e89a6;
$color-brand-gray-400: #6c7796;
$color-brand-gray-500: #4b546e;
$color-brand-gray-600: #3c4358;

// STRUCTURAL COLORS
$color-structural-white: #ffffff;
$color-structural-black: #000000;

$color-white: $color-structural-white;
$color-black: $color-structural-black;

$color-primary: $color-brand-primary-300;
$color-success: $color-functional-success;
