@import "./src/styles/settings/colors";
@import "./src/styles/settings/spaces";

$border-color: rgba(#000, .1);

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;

  & + .col {
    margin-left: $space-2;
    padding-left: $space-2;

    &--line {
      border-left: solid 1px $border-color;
    }

    &--arrow {
      position: relative;
      border-left: solid 1px transparent;

      &:after {
        position: absolute;
        content: '';
        top: 2px;
        left: -29px;
        width: 95px;
        height: 75px;
        background-color: $border-color;
        clip-path: polygon(50% 45%, 90% 30%, 95% 28%, 50% 43%, 0% 22%, 5% 25%);
        transform: rotate(-90deg);
      }
    }
  }
}
